<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <%- include('navbar')%>
    <h1>Messages:</h1>

    <% messages.forEach((message) => { %>
    <div>
      <ul>
        <li>Text: <%=message.text%></li>

        <li>User: <%=message.username%></li>

        <li>Date: <%=message.added%></li>

        <li>
          <a href="/messages/<%=message.id%>">Open Message</a>
        </li>
      </ul>
    </div>

    <% }) %>
  </body>
</html>
